<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="/assets/icon/home.svg"></ion-icon>
      <ion-label color="light">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="modules">
      <ion-icon src="/assets/icon/modules.svg"></ion-icon>
      <ion-label color="light">Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mood-monitor">
      <ion-icon src="/assets/icon/mood_monitor.svg"></ion-icon>
      <ion-label color="light">Mood monitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="toolbox">
      <ion-icon src="/assets/icon/toolbox.svg"></ion-icon>
      <ion-label color="light">Toolbox</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
